/* This pen is using external base CSS stylesheet(s) in the CSS Settings */

:root {
  /* Inline size */
  --page-max-inline-size: 100%;
}

* {
  margin: 0;
}

body {
  padding-block: var(--padding-lg);
}

caption {
  text-align: start;
}

.flex-gap > div {
  margin-right: 20px;
}

.flex-gap > div:last-child {
  margin-right: 0;
}

.n-table {
  margin-top: 5px;
  margin-bottom: 50px;
}