{{>layout/header}}
    <!-- Custom styles for template -->
    <link href="/css/headers.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="/img/mango.png">
                <span class="fs-4">망고:Man-go</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/planboard" class="nav-link px-2 link-secondary">여행계획</a></li>
                <li><a href="#" class="nav-link px-2">여행기록</a></li>
                <li><a href="#" class="nav-link px-2">여행정보</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" onClick="location.href='/signin'">로그인</button>
                <button type="button" class="btn btn-primary">회원가입</button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <form class="col-12 col-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" style="width: 300px">
            </form>

            <button class="btn btn-primary d-inline-flex align-items-center" type="button" onClick="location.href='/plans/save'">
                새 계획 생성
            </button>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {{#plans}}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xlink:href="/img/mango.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>망고</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">망고</text></svg>
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <span class="card-text text-muted" data-trip-state="{{tripState}}"></span>
                                <br>
                                <span class="card-text">{{location}}</span>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button name="btn-view" type="button" class="btn btn-sm btn-outline-secondary" onClick="location.href='/plans/view/{{planId}}'">
                                            조회
                                        </button>
                                        <button name="btn-go-update" type="button" class="btn btn-sm btn-outline-secondary">수정</button>
                                        <button name="btn-delete" type="button" class="btn btn-sm btn-outline-secondary" data-plan-id="{{planId}}">삭제</button>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/plans}}
            </div>
        </div>
    </div>

    <!--js 추가-->
    <script src="/js/app/index.js" type="module"></script>
    <script src="/js/app/planBoard.js" type="module"></script>
{{>layout/footer}}