<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!-- HTML link 태그를 활용한 BootStrap 연동 -->
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for template -->
    <link href="./css/headers.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">망고:Man-go</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/planboard" class="nav-link px-2 link-secondary">여행계획</a></li>
                <li><a href="#" class="nav-link px-2">여행기록</a></li>
                <li><a href="#" class="nav-link px-2">여행정보</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" onClick="location.href='/sign-in.mustache'">로그인</button>
                <button type="button" class="btn btn-primary">회원가입</button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <form class="col-12 col-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" style="width: 300px">
            </form>

            <button class="btn btn-primary d-inline-flex align-items-center" type="button" onClick="location.href='/plans/save'">
                새 계획 생성
            </button>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
        {{#plans}}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">{{title}}</p>
                            <span>{{location}}</span>
                            <span data-trip-state="{{tripState}}"></span>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">조회</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">수정</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">삭제</button>
                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/plans}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--js 추가-->
    <script src="/js/app/index.js"></script>
    <script src="/js/app/planBoard.js"></script>
</body>
</html>
