/* This pen is using external base CSS stylesheet(s) in the CSS Settings */

:root {
  /* Inline size */
  --page-max-inline-size: 100%;
}

* {
  margin: 0;
}

body {
  padding-block: var(--padding-lg);
}

caption {
  text-align: start;
}
